<!DOCTYPE html>
<html>
  <head>
    <title>Inspire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
        <div class="col-3">
            <div class="circle">
              <br />
              Bringing
              <br />
              out
              <br />
              the best
            </div>
        </div>
        <div class="col-4 slogan">
            Ideas to point the way
        </div>
        <div class="col-5 links">
            <%= link_to 'Add your favorites!', '#' %>
            <%= link_to 'About', '#' %>
        </div>
    </header>

    <hr />

    <br class="clear" />

    <div class="container">
    <%= yield %>
    </div>

    <dif class="footer">
        <div class="row container">
        <div class="col-6">
          <%= link_to "This isn't enough, I need more", "#", class: 'next-quote' %>
        </div>
        <div class="col-6 footer-blurb">
        Proudly hacked in Clearwater, FL by <a href= "http://kalenhammann.getforge.io">Dr. Kalen Hammann</a><br />
        Want to build your own Web App like this? <br /> <a href="http://thefirehoseproject.com">Learn how to code here from the guys who taught me!</a>
        </div>
  </body>
</html>
